MYSQL_ROOT_PASSWORD=rootpw
MYSQL_DATABASE=coredb
MYSQL_USER=app
MYSQL_PASSWORD=apppw

CORE_DSN=DBI:MariaDB:database=coredb;host=mysql;port=3306
CORE_USER=app
CORE_PASS=apppw

SF_DSN=Driver=/usr/lib/snowflake/odbc/lib/libSnowflake.so;Server=<account>.snowflakecomputing.com;Database=ARCHIVEDB;Schema=PUBLIC
SF_USER=your_snowflake_user
SF_PASS=your_snowflake_password

ROUTE_DAYS=365
